@use "../../Styles/abstracts/mixins" as *;
@use "../../Styles/abstracts/variables" as *;

header {
  margin-bottom: 3rem;
  & h1 {
    color: $primary-font;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin: 0;

    & .fa-utensils {
      color: $secondary-color;
      font-size: 4rem;
      margin-left: 2rem;
    }
  }
  & .latest-post {
    position: relative;

    & img {
      border-radius: 5px;
      height: 52rem !important;

      @include respond(port) {
        height: 40rem !important;
      }
    }
  }

  & .caption {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
    display: block;
    padding: 15px 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    & a {
      text-decoration: none;

      & .caption-text {
        color: $primary-font;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        margin: 0;
      }
    }
  }
}
