// COLORS
$primary-green: #a8ba9a;
$light-primary-green: #e9f0e8;
$secondary-color: #875b8c;
$tertiary-color: #008080;
$logo-dark: #2c2c30;
$background-white: #f5f5f5;


// TEXT
$primary-font: #323232;
$icon-hover-grey: #979797;
$link-white: #e9ecef;
$blog-grey:#b5aec4